<h1>Tasks index</h1>

<div class="tasks">
  <% @tasks.each do |task| %>
    <!-- <%= link_to "#{task.title.capitalize}", task_path(task) %> <%= link_to "Delete", task_path(task),
      data: {turbo_method: :delete, turbo_confirm: "re you sure?"} %></p> -->
      <div><%= link_to "#{task.title.capitalize}", task_path(task) %></div>
       <div><%= link_to task_path(task),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash"></i>
      <% end %></div>
  <% end %>
</div>

<p class="new_task"><%= link_to "Add a new task", new_task_path %></p>


<%# <p><%= task.title.capitalize</p> %>
